v-app
    v-navigation-drawer(v-if="drawerEnabled" app v-model="showDrawer" clipped)
        v-list(subheader two-line)
            RouterMenuItem(v-for="(route, index) in drawerRoutes" :key="`drawer-item-${index}`" :route="route")

    v-app-bar(app clipped-left color="dark" )
        v-app-bar-nav-icon(v-if="drawerEnabled" @click="toggleDrawer")
        v-toolbar-title.flex.h-container.items.v-center
            img( v-bind:src="logo" alt='logo' style="height: 32px;")
            div.flex.h-container.items.v-center
                div.primary--text(style="padding-left: 10px;") {{title}}
                div(style="padding-left: 10px;")  {{mode}}

        v-spacer
        v-toolbar-items
        v-tooltip(bottom v-for="(route, index) in toolbarRoutes" :key="`toolbar-item-${index}`")
            template(v-slot:activator="{ on }")
                v-btn(text @click="goToRoute(route)" v-on="on") {{route.meta.title}}
            span {{route.meta.subtitle}}

        v-menu(v-if="showUserMenu" offset-y content-class="dropdown-menu" transition="slide-y-transition")
            template(v-slot:activator="{ on }")
                v-btn.mx-2(color="primary" v-on="on" fab small) 
                    v-icon mdi-account
            v-list(style="min-width:150px")                
                v-list-item.pad-l-1(v-if="auth.isAuth" @click="logout()")
                    v-list-item-title Logout
                v-list-item.pad-l-1(v-else @click="login")
                    v-list-item-title login
                v-divider(v-if="showRolesInMenu")
                v-list-item.pad-l-1(v-if="showRolesInMenu" v-for="role in userValidRoles" :key="`toolbar-menu-item-${role}`" @click="changeRole(`${role}`)")
                    v-list-item-title {{role}}
                        
    notifications(group="top" position="top center")
    notifications(group="bottom" position="bottom right" )

    v-content.flex.v-container.overflow.full(v-resize="resize")
        v-container(fill-height fluid)
            router-view

    v-footer(absolute app)
        v-row
            div(style="margin-left:10px" v-html="footer.left")
            v-spacer
            div(v-html="footer.center")
            v-spacer
            div(style="margin-right:10px" v-html="footer.right")