$margin: 10px;
$padding: 10px;

.v-card.custom{
    margin: $margin !important;
    padding: $padding !important;
}
.v-card.custom-vfull{
    margin: $margin !important;
    padding: $padding !important;
    height: calc(100% - #{$margin*2}) !important;
}    
.v-btn.custom{
    margin: 2px;
}

.v-list-item.drawer-item{
    padding-left: 15px !important;
}
.v-list-item.drawer-group{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

