v-container.flex.v-container.h-full.items.h-center.top
    div.primary--text {{service}} WS Service

    div.primary--text.flex.item.left Hub Events
    v-card.h-full.custom(v-for="(hub, idx) in hubEvents" :key="`#hub-${idx}`" )
        div.h-full.flex.v-container()
            div.h-full.flex.h-container()
                div.SocketIO-title  [ Hub ]
                div.primary--text {{hub.name}}
            div.flex.h-container
                v-btn.custom.primary(v-on:click="hubCall('sub', hub.name)") subscribe                        
                v-btn.custom.primary(v-on:click="hubCall('unsub',  hub.name)") unsubscribe            
                v-btn.custom.primary(v-on:click="hubCall('on',  hub.name)") add on(...)
                v-btn.custom.primary(v-on:click="hubCall('off',  hub.name)") off
    
    hr.h-full(style="margin-top: 10px; margin-bottom:10px")

    div.primary--text.flex.item.left Rest Methods
    v-card.h-full.custom(v-for="(rest, idx) in restMethods" :key="`#rest-${idx}`" )
        div.h-full.flex.v-container()
            div.h-full.flex.h-container()
                div.SocketIO-title  [ Rest ]
                div.primary--text {{rest.name}}
            div.flex.h-container
                v-text-field(v-model="rest.data" style="margin:5px" label="data" :disabled="rest.data == undefined")
                v-text-field(v-model="rest.credentials" style="margin:5px" label="credentials" :disabled="rest.credentials == undefined") 
                v-btn.custom.primary(v-on:click="restCall(rest.name)") execute                        

            

