div.flex.v-container.full
    div.flex.v-container.items.h-center.v-center
        v-card.custom
            img(alt="Vue logo" v-bind:src="logo")
            div.flex.v-container
                v-btn.custom-home.primary( @click="send") send to status bar
                v-btn.custom-home.secondary(@click="showNotifications") show notification 